
<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Counter</MudNavLink>
    <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Weather</MudNavLink>

    @*★(a)*@
    <div class="nav-item px-3">
        <a href="MicrosoftIdentity/Account/SignIn" class="nav-link">Login</a>
    </div>

    @*★(b)*@
    <div class="nav-item px-3">
        <a href="MicrosoftIdentity/Account/SignOut" class="nav-link">Logout</a>
    </div>
</MudNavMenu>
