@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <span>ようこそ、@context.User.Identity?.Name さん！</span>
        <button @onclick="Logout">ログアウト</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login">ログイン</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Login()
    {
        Navigation.NavigateTo("MicrosoftIdentity/Account/SignIn", true);
    }

    private void Logout()
    {
        Navigation.NavigateTo("MicrosoftIdentity/Account/SignOut", true);
    }
}
