@page "/policy"
@using BlazorAzureADB2CApp1.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using BlazorAzureADB2CApp1.Components

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Models.TestContext DbContext
@inject NavigationManager Navigation
@inject ThemeService ThemeService

<h3>Policy</h3>

@code {

}
